<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FriendsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Friends">
        <id column="F_ID" property="F_ID" />
        <result column="F_FirendID" property="F_FirendID" />
        <result column="F_UserID" property="F_UserID" />
        <result column="F_FriendGroupsID" property="F_FriendGroupsID" />
        <result column="F_Name" property="F_Name" />
    </resultMap>

</mapper>
